<% notes.forEach( (note) => { %>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center note-title"><a class="note-title" href="<%= "/dashboard/note/" + note.noteId %>"><%= note.name %></a></h5>
            <p class="card-text"><%= note.content %></p>
        </div>
        <div class="card-footer">
            <div class="container note-footer-container">
                <div class="row">
                    <div class="col-sm col-note-footer">
                        <% if (note.tags.length !== 0) { %>
                            <ul class="list-inline pl-3">
                                <% note.tags.forEach( (tag) => { %>
                                    <li class="list-inline-item tag"><a href="<%= "/dashboard/tag?tag=" + tag.replace('#', '') %>" class="tag"><%= tag %></a></li>
                                <% }); %>
                            </ul>
                        <% } %>
                    </div>
                    <div class="col-sm d-flex justify-content-end col-note-footer">
                        <span>N.o. attachments: <%= note.attachments.length %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm ">
                        <span>Last modified: <%= note.lastModified.toLocaleString() %></span>
                    </div>
                    <div class="col-sm d-flex justify-content-end col-note-footer">
                        <a href="<%= "/dashboard/editNote?noteId=" + note.noteId%>" class="icon"><i class="fas fa-edit icon mr-1"></i></a>
                        <a href="<%= "/dashboard/removeNote?noteId=" + note.noteId %>" class="icon"><i class="fas fa-trash-alt icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }); %>
